# Virtual Environment
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases & Exports
*.db
*.csv
power_bi_exports/
dashboard/power_bi_exports/

# OS Files
.DS_Store
Thumbs.db
